<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>2018 Winter Olympics medal table</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">
	<link href="http://tablesorter.com/themes/blue/style.css" rel="stylesheet">
	<link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Olympics</a>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
              </div>
              </button>
            </div>
          </div>

          <h2>Medal Tally</h2>
          <div class="table-responsive">
          </div>
        </main>
      </div>
    </div>

	<div class="container">	
		<div id="test"></div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
	<link media="all" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js'></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js'></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/jquery.tablesorter.min.js"></script> 
	<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>	

	<script type="text-jquery-tmpl" id="r_tmpl">
			<table id="myTable" class="table tablesorter" style="width:80%;" >
			<thead>
			<tr>
				<th>Rank</th>
				<th>Country</th>
				<th>Gold</th>
				<th>Silver</th>
				<th>Bronze</th>
			</tr>
			</thead>
			<tbody>
				<% $.each(response, function (key, values) { %>
				<tr>
					<td><%= values.rank %></td>
					<td><img src="<%= values.image %>"</img> <%= values.country %> <b><%= values.short_name %></b></td>
					<td><%= values.gold %></td>
					<td><%= values.silver %></td>
					<td><%= values.bronze %></td>
				</tr>
				<%}) %>
			</tbody>
			</table>
	</script>

    <!-- Graphs -->
	<script>
		$(document).ready(function() {
			$.get('/data', function(resp) {
				$('.container-fluid').highcharts(resp.chart);
				var medal_tmp = $('#r_tmpl').text();
                var x = _.template(medal_tmp);
				console.log(resp.medals);
                $("#test").append(x({'response' : resp.medals}));
				$("#myTable").DataTable(); 
			});
		});
	</script>
    </body>
</html>
